<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{#if showNome}}
        <h1>{{nome}}</h1>
    {{else}}
        <h1>Nome oculto</h1>
    {{/if}}
    <ul>
        {{#each profs}}
            <li>{{nome}}</li>
        {{/each}}
    </ul>
    {{#if about}}
        <h1>{{titulo}}</h1>
        {{descricao}}
    {{else}}
        <h1>Nome oculto</h1>
    {{/if}}
</body>
</html>