<h2>{{nome}}</h2>

<!--{{#if showNome}}
    <h2>{{nome}}</h2>
    {{titulo}}
    <img src="/img/imagem.jpeg" alt="Xadrez">
{{else}}
    <h1>Nome oculto</h1>
{{/if}} -->




{{!-- <ul>
    {{#each profs}}
        <li>{{nome}}</li>
    {{/each}}
</ul>
{{#if about}}
    <h1>{{titulo}}</h1>
    {{descricao}}
{{else}}
    <h1>Nome oculto</h1>
{{/if}} --}}
